@model GymManager.Models.sub_item

@{
    ViewBag.Title = "Quản lý thông số";
    ViewBag.ContentTitle = "Thêm mới thông số";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-horizontal">
        <hr />
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Thông tin khách hàng</h3>
                </div>
                <div class="panel-body">
                    <div class="form-group required">
                        <label class="control-label setting-label col-md-3" for="value">Tên thông tin</label>
                        <div class="col-md-9 asterisk">
                            <input class="form-control text-box single-line" data-val="true"
                                   data-val-required="Vui lòng tên khách hàng" id="value" name="value" type="text" value="">
                        </div>
                        <span class="field-validation-valid text-danger" data-valmsg-for="value" data-valmsg-replace="true"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label setting-label col-md-3" for="desc">Chú thích</label>
                        <div class="col-md-9 asterisk">
                            <textarea id="desc" name="desc" class="tinymce"></textarea>
                        </div>
                    </div>
                </div>
                @Html.Partial("PanelFooterNotes")
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">Thực hiện</h3>
                </div>
                <div class="panel-body">
                    <div class="form-group option-label">
                        <label class="col-md-3" for="flag">Trạng thái</label>
                        <div class="checkbox">
                            <label><input type="radio" name="flag" value="1" checked /> @VinaphoneCommon.Language.active</label>
                            <label><input type="radio" name="flag" value="0" /> @VinaphoneCommon.Language.draft</label>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <input type="submit" value="@VinaphoneCommon.Language.addnew" class="btn btn-primary" />
                    @Html.ActionLink(VinaphoneCommon.Language.backlink, "Index", null, new { @class = "btn btn-info" })
                </div>
            </div>
        </div>
    </div>
}
@section ScriptForm {
    @Html.Partial("ScriptForm")
}